language: node_js
node_js: stable
cache:
  directories:
    - node_modules
git:
  submodules: false
before_install:
  - git submodule update --init
install:
  - npm install
  - npm run schema-validate
  - npm run engine-validate
  - npm run engine-bundle
script:
  - npm run www
  - cd www
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local-dir: www
  on:
    branch: master
    target_branch: gh-pages
  